In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [3]:
model=load_model('model.h5')

with open('LabelEncoder_gender.pkl','rb') as file:
    label_encoder_gen=pickle.load(file)
with open('geo_encoder.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [4]:
model

In [5]:
input_data = {
    'CreditScore': 650,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 42,
    'Tenure': 5,
    'Balance': 60000.50,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000.00
}

In [6]:
input_data

{'CreditScore': 650,
 'Geography': 'France',
 'Gender': 'Male',
 'Age': 42,
 'Tenure': 5,
 'Balance': 60000.5,
 'NumOfProducts': 2,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 50000.0}

In [7]:
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))

/Users/1persentbetter/Documents/Bugs_Villa/Gen AI/Sec_13_Ann Project/venv/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [8]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [9]:
input_df=pd.DataFrame([input_data])

In [10]:
input_df=pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,650,France,Male,42,5,60000.5,2,1,1,50000.0,1.0,0.0,0.0

In [16]:
input_df = input_df.drop(['Geography'], axis=1)

In [ ]:
input_df['Gender']=label_encoder_gen.transform(input_df['Gender'])

In [12]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,650,France,1,42,5,60000.5,2,1,1,50000.0,1.0,0.0,0.0

In [17]:
input_scaled=scaler.transform(input_df)

In [ ]:
prediction_probab=model.predict(input_scaled)
prediction_probab

1/1 [==============================] - 0s 54ms/step

array([[0.05660235]], dtype=float32)

In [19]:
prediction_probab=prediction_probab[0][0]

In [20]:
prediction_probab

0.056602348

In [21]:
if prediction_probab>0.5:
    print('The customer will churn.')
else:
    print('No churn.')

No churn.